<div class="social-media-icons {{ class }}">
	<a class="social-media-icons__link" href="#">{{> @icon icon="logo-linkedin" folder="social-media" class="social-media-icons__icon"}}</a>
	<a class="social-media-icons__link" href="#">{{> @icon icon="logo-youtube" folder="social-media" class="social-media-icons__icon"}}</a>
	<a class="social-media-icons__link" href="#">{{> @icon icon="logo-instagram" folder="social-media" class="social-media-icons__icon"}}</a>
	<a class="social-media-icons__link" href="#">{{> @icon icon="logo-github" folder="social-media" class="social-media-icons__icon"}}</a>
</div>