<div class="social-media-icons {{ class }}">
	<a class="social-media-icons__link" href="#">{{> @icon icon="linkedin" folder="social-media" class="social-media-icons__icon"}}</a>
	<a class="social-media-icons__link" href="#">{{> @icon icon="youtube" folder="social-media" class="social-media-icons__icon"}}</a>
	<a class="social-media-icons__link" href="#">{{> @icon icon="instagram" folder="social-media" class="social-media-icons__icon"}}</a>
	<a class="social-media-icons__link" href="#">{{> @icon icon="github" folder="social-media" class="social-media-icons__icon"}}</a>
</div>