<div class="cookie-banner js-cookie-banner">
	<p class="paragraph cookie-banner__text">Wir verwenden Cookies auf unserer Website. Indem Sie weiter auf der Website bleiben, aktzeptieren Sie usere <a>AGB's</a>.</p>
	{{> @button text="Ok" color="black" class="cookie-banner__button"}}
</div>