<div class="switch">
	{{> @label text="Label" class="switch__label"}}
	<input class="switch__input" type="checkbox" name="range" id="range">
	<label class="switch__background" for="range"><i class="switch__toggle"></i></label>
</div>