.button {
	padding: 16px 24px;
	border-radius: 7.5px;
	border-width: 1px;
	border-style: solid;
	border-color: $black;
	color: $white;
	background-color: $black;
	display: inline-block;
	cursor: pointer;	
	text-decoration: none;
	text-align: center;

	&--green {
		background-color: $green;
		color: $white;
	}
	
	&--white {
		background-color: $white;
		color: $black;
	}
}