.svg-general--arrow-simple {
	background: url("../../../../../../../media/icons/sprite/view/sprite.svg") 0 100% no-repeat;
}

.svg-general--arrow-simple-dims {
	width: 24px;
	height: 24px;
}

.svg-general--check {
	background: url("../../../../../../../media/icons/sprite/view/sprite.svg") 16.666666666666668% 100% no-repeat;
}

.svg-general--check-dims {
	width: 24px;
	height: 24px;
}

.svg-general--close {
	background: url("../../../../../../../media/icons/sprite/view/sprite.svg") 33.333333333333336% 100% no-repeat;
}

.svg-general--close-dims {
	width: 24px;
	height: 24px;
}

.svg-sprite--view--sprite {
	background: url("../../../../../../../media/icons/sprite/view/sprite.svg") 0 0 no-repeat;
}

.svg-sprite--view--sprite-dims {
	width: 168px;
	height: 144px;
}

