<a class="link link-with-arrow link-with-arrow--{{ color }} {{ class }}" href="#" tabindex="1">
	<span class="link-with-arrow__text">{{ text }}</span>
	{{#if hasArrow}}
	{{> @icon icon="right-arrow" folder="social-media" class="link-with-arrow__icon" color=color}}
	{{/if}}
</a>