.link-with-arrow {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	text-decoration:  none;
	
	&__text {
		margin-right: 8px;
		color: $black;
		font-family: 'Roboto-Regular';
	}

	&__icon  {
		font-size: 10px;
		vertical-align: middle;
		color: $black;
		font-weight: 100;
		transition: all 0.1s ease;
		margin-left: 4px;

		&::before {
			vertical-align: baseline;
		}

	}

	&--black {
		.link-with-arrow__text { color: $black; }
		.link-with-arrow__icon { color: $black; }
	}

	&--white { 
		.link-with-arrow__text { color: $white }
		.link-with-arrow__icon { color: $black }
	}

	&:hover {
		
		.link-with-arrow__text {
			color: red;
		}
		
		.link-with-arrow__icon {
			margin-left: 8px;
		}
	
	}

}