%svg-common {
	background: url("sprite.svg") no-repeat;
}

.svg-form-elements--checkbox-check {
	@extend %svg-common;
	background-position: 98.11320754716981% 12%;
}

.svg-form-elements--checkbox-check-dims {
	width: 24px;
	height: 24px;
}

.svg-form-elements--dropdown-carret {
	@extend %svg-common;
	background-position: 99.06687402799378% 7.060755336617405%;
}

.svg-form-elements--dropdown-carret-dims {
	width: 10px;
	height: 6px;
}

.svg-form-elements--radio-bullet {
	@extend %svg-common;
	background-position: 99.92163009404389% 3.9867109634551494%;
}

.svg-form-elements--radio-bullet-dims {
	width: 20px;
	height: 20px;
}

.svg-form-elements--upload-arrow {
	@extend %svg-common;
	background-position: 98.98989898989899% 5.950413223140496%;
}

.svg-form-elements--upload-arrow-dims {
	width: 9px;
	height: 14px;
}

.svg-general--arrow-left-slider {
	@extend %svg-common;
	background-position: 99.22118380062305% 7.920792079207921%;
}

.svg-general--arrow-left-slider-dims {
	width: 12px;
	height: 12px;
}

.svg-general--arrow-link {
	@extend %svg-common;
	background-position: 99.61180124223603% 5.950413223140496%;
}

.svg-general--arrow-link-dims {
	width: 8px;
	height: 14px;
}

.svg-general--arrow-right-slider {
	@extend %svg-common;
	background-position: 99.22118380062305% 8.910891089108912%;
}

.svg-general--arrow-right-slider-dims {
	width: 12px;
	height: 12px;
}

.svg-general--arrow-simple {
	@extend %svg-common;
	background-position: 100% 12%;
}

.svg-general--arrow-simple-dims {
	width: 24px;
	height: 24px;
}

.svg-general--carret {
	@extend %svg-common;
	background-position: 98.11320754716981% 14%;
}

.svg-general--carret-dims {
	width: 24px;
	height: 24px;
}

.svg-general--check {
	@extend %svg-common;
	background-position: 100% 14%;
}

.svg-general--check-dims {
	width: 24px;
	height: 24px;
}

.svg-general--close {
	@extend %svg-common;
	background-position: 98.11320754716981% 16%;
}

.svg-general--close-dims {
	width: 24px;
	height: 24px;
}

.svg-social-media--facebook {
	@extend %svg-common;
	background-position: 98.3451536643026% 4%;
}

.svg-social-media--facebook-dims {
	width: 27px;
	height: 24px;
}

.svg-social-media--github {
	@extend %svg-common;
	background-position: 98.26771653543307% 6%;
}

.svg-social-media--github-dims {
	width: 26px;
	height: 24px;
}

.svg-social-media--instagram {
	@extend %svg-common;
	background-position: 98.1904012588513% 10%;
}

.svg-social-media--instagram-dims {
	width: 25px;
	height: 24px;
}

.svg-social-media--linkedin {
	@extend %svg-common;
	background-position: 100% 16%;
}

.svg-social-media--linkedin-dims {
	width: 24px;
	height: 24px;
}

.svg-social-media--twitter {
	@extend %svg-common;
	background-position: 98.26771653543307% 8%;
}

.svg-social-media--twitter-dims {
	width: 26px;
	height: 24px;
}

.svg-social-media--youtube {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-social-media--youtube-dims {
	width: 48px;
	height: 48px;
}

.svg-sprite--sprite {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-sprite--sprite-dims {
	width: 1248px;
	height: 1224px;
}

