%svg-common {
	background: url("sprite.svg") no-repeat;
}

.svg-form-elements--checkbox-check {
	@extend %svg-common;
	background-position: 97.77777777777777% 14.285714285714286%;
}

.svg-form-elements--checkbox-check-dims {
	width: 24px;
	height: 24px;
}

.svg-form-elements--dropdown-carret {
	@extend %svg-common;
	background-position: 99.6343692870201% 7.017543859649122%;
}

.svg-form-elements--dropdown-carret-dims {
	width: 10px;
	height: 6px;
}

.svg-form-elements--radio-bullet {
	@extend %svg-common;
	background-position: 99.90774907749078% 4.743083003952569%;
}

.svg-form-elements--radio-bullet-dims {
	width: 20px;
	height: 20px;
}

.svg-general--arrow-link {
	@extend %svg-common;
	background-position: 98.72262773722628% 7.072691552062868%;
}

.svg-general--arrow-link-dims {
	width: 8px;
	height: 14px;
}

.svg-general--arrow-simple {
	@extend %svg-common;
	background-position: 100% 14.285714285714286%;
}

.svg-general--arrow-simple-dims {
	width: 24px;
	height: 24px;
}

.svg-general--carret {
	@extend %svg-common;
	background-position: 97.77777777777777% 16.666666666666668%;
}

.svg-general--carret-dims {
	width: 24px;
	height: 24px;
}

.svg-general--check {
	@extend %svg-common;
	background-position: 100% 16.666666666666668%;
}

.svg-general--check-dims {
	width: 24px;
	height: 24px;
}

.svg-general--close {
	@extend %svg-common;
	background-position: 97.77777777777777% 19.047619047619047%;
}

.svg-general--close-dims {
	width: 24px;
	height: 24px;
}

.svg-social-media--facebook {
	@extend %svg-common;
	background-position: 98.05013927576601% 4.761904761904762%;
}

.svg-social-media--facebook-dims {
	width: 27px;
	height: 24px;
}

.svg-social-media--github {
	@extend %svg-common;
	background-position: 97.95918367346938% 7.142857142857143%;
}

.svg-social-media--github-dims {
	width: 26px;
	height: 24px;
}

.svg-social-media--instagram {
	@extend %svg-common;
	background-position: 97.86839666357739% 11.904761904761905%;
}

.svg-social-media--instagram-dims {
	width: 25px;
	height: 24px;
}

.svg-social-media--linkedin {
	@extend %svg-common;
	background-position: 100% 19.047619047619047%;
}

.svg-social-media--linkedin-dims {
	width: 24px;
	height: 24px;
}

.svg-social-media--twitter {
	@extend %svg-common;
	background-position: 97.95918367346938% 9.523809523809524%;
}

.svg-social-media--twitter-dims {
	width: 26px;
	height: 24px;
}

.svg-social-media--youtube {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-social-media--youtube-dims {
	width: 48px;
	height: 48px;
}

.svg-sprite--sprite {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-sprite--sprite-dims {
	width: 1056px;
	height: 1032px;
}

