%svg-common {
	background: url("sprite.svg") no-repeat;
}

.svg-form-elements--checkbox-check {
	@extend %svg-common;
	background-position: 14.728682170542635% 97.61904761904762%;
}

.svg-form-elements--checkbox-check-dims {
	width: 24px;
	height: 24px;
}

.svg-form-elements--dropdown-carret {
	@extend %svg-common;
	background-position: 30.97514340344168% 95.90643274853801%;
}

.svg-form-elements--dropdown-carret-dims {
	width: 10px;
	height: 6px;
}

.svg-form-elements--radio-bullet {
	@extend %svg-common;
	background-position: 28.571428571428573% 97.23320158102767%;
}

.svg-form-elements--radio-bullet-dims {
	width: 20px;
	height: 20px;
}

.svg-general--arrow-link {
	@extend %svg-common;
	background-position: 30.15267175572519% 96.66011787819254%;
}

.svg-general--arrow-link-dims {
	width: 8px;
	height: 14px;
}

.svg-general--arrow-simple {
	@extend %svg-common;
	background-position: 17.05426356589147% 97.61904761904762%;
}

.svg-general--arrow-simple-dims {
	width: 24px;
	height: 24px;
}

.svg-general--carret {
	@extend %svg-common;
	background-position: 19.37984496124031% 97.61904761904762%;
}

.svg-general--carret-dims {
	width: 24px;
	height: 24px;
}

.svg-general--check {
	@extend %svg-common;
	background-position: 21.705426356589147% 97.61904761904762%;
}

.svg-general--check-dims {
	width: 24px;
	height: 24px;
}

.svg-general--close {
	@extend %svg-common;
	background-position: 24.031007751937985% 97.61904761904762%;
}

.svg-general--close-dims {
	width: 24px;
	height: 24px;
}

.svg-social-media--facebook {
	@extend %svg-common;
	background-position: 4.664723032069971% 97.61904761904762%;
}

.svg-social-media--facebook-dims {
	width: 27px;
	height: 24px;
}

.svg-social-media--github {
	@extend %svg-common;
	background-position: 7.281553398058253% 97.61904761904762%;
}

.svg-social-media--github-dims {
	width: 26px;
	height: 24px;
}

.svg-social-media--instagram {
	@extend %svg-common;
	background-position: 12.318137730358876% 97.61904761904762%;
}

.svg-social-media--instagram-dims {
	width: 25px;
	height: 24px;
}

.svg-social-media--linkedin {
	@extend %svg-common;
	background-position: 26.356589147286822% 97.61904761904762%;
}

.svg-social-media--linkedin-dims {
	width: 24px;
	height: 24px;
}

.svg-social-media--twitter {
	@extend %svg-common;
	background-position: 9.805825242718447% 97.61904761904762%;
}

.svg-social-media--twitter-dims {
	width: 26px;
	height: 24px;
}

.svg-social-media--youtube {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-social-media--youtube-dims {
	width: 48px;
	height: 48px;
}

.svg-sprite--sprite {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-sprite--sprite-dims {
	width: 1056px;
	height: 984px;
}

