.svg-form-elements--checkbox-check {
	background: url("sprite.svg") 97.5609756097561% 15.789473684210526% no-repeat;
}

.svg-form-elements--checkbox-check-dims {
	width: 24px;
	height: 24px;
}

.svg-form-elements--dropdown-carret {
	background: url("sprite.svg") 99.59919839679358% 7.741935483870968% no-repeat;
}

.svg-form-elements--dropdown-carret-dims {
	width: 10px;
	height: 6px;
}

.svg-form-elements--radio-bullet {
	background: url("sprite.svg") 99.89878542510121% 5.240174672489083% no-repeat;
}

.svg-form-elements--radio-bullet-dims {
	width: 20px;
	height: 20px;
}

.svg-general--arrow-link {
	background: url("sprite.svg") 98.6% 7.809110629067245% no-repeat;
}

.svg-general--arrow-link-dims {
	width: 8px;
	height: 14px;
}

.svg-general--arrow-simple {
	background: url("sprite.svg") 100% 15.789473684210526% no-repeat;
}

.svg-general--arrow-simple-dims {
	width: 24px;
	height: 24px;
}

.svg-general--carret {
	background: url("sprite.svg") 97.5609756097561% 18.42105263157895% no-repeat;
}

.svg-general--carret-dims {
	width: 24px;
	height: 24px;
}

.svg-general--check {
	background: url("sprite.svg") 100% 18.42105263157895% no-repeat;
}

.svg-general--check-dims {
	width: 24px;
	height: 24px;
}

.svg-general--close {
	background: url("sprite.svg") 97.5609756097561% 21.05263157894737% no-repeat;
}

.svg-general--close-dims {
	width: 24px;
	height: 24px;
}

.svg-social-media--facebook {
	background: url("sprite.svg") 97.85932721712538% 5.2631578947368425% no-repeat;
}

.svg-social-media--facebook-dims {
	width: 27px;
	height: 24px;
}

.svg-social-media--github {
	background: url("sprite.svg") 97.75967413441956% 7.894736842105263% no-repeat;
}

.svg-social-media--github-dims {
	width: 26px;
	height: 24px;
}

.svg-social-media--instagram {
	background: url("sprite.svg") 97.66022380467955% 13.157894736842104% no-repeat;
}

.svg-social-media--instagram-dims {
	width: 25px;
	height: 24px;
}

.svg-social-media--linkedin {
	background: url("sprite.svg") 100% 21.05263157894737% no-repeat;
}

.svg-social-media--linkedin-dims {
	width: 24px;
	height: 24px;
}

.svg-social-media--twitter {
	background: url("sprite.svg") 97.75967413441956% 10.526315789473685% no-repeat;
}

.svg-social-media--twitter-dims {
	width: 26px;
	height: 24px;
}

.svg-social-media--youtube {
	background: url("sprite.svg") 100% 0 no-repeat;
}

.svg-social-media--youtube-dims {
	width: 48px;
	height: 48px;
}

.svg-sprite--sprite {
	background: url("sprite.svg") 0 0 no-repeat;
}

.svg-sprite--sprite-dims {
	width: 960px;
	height: 936px;
}

