.svg-form-elements--checkbox-check {
	background: url("sprite.svg") 12.418300653594772% 98% no-repeat;
}

.svg-form-elements--checkbox-check-dims {
	width: 24px;
	height: 24px;
}

.svg-form-elements--dropdown-carret {
	background: url("sprite.svg") 28.836833602584814% 96.55172413793103% no-repeat;
}

.svg-form-elements--dropdown-carret-dims {
	width: 10px;
	height: 6px;
}

.svg-form-elements--radio-bullet {
	background: url("sprite.svg") 24.104234527687296% 97.67441860465117% no-repeat;
}

.svg-form-elements--radio-bullet-dims {
	width: 20px;
	height: 20px;
}

.svg-form-elements--upload-arrow {
	background: url("sprite.svg") 25.504439063761097% 97.1900826446281% no-repeat;
}

.svg-form-elements--upload-arrow-dims {
	width: 9px;
	height: 14px;
}

.svg-general--arrow-left-slider {
	background: url("sprite.svg") 26.941747572815533% 97.02970297029702% no-repeat;
}

.svg-general--arrow-left-slider-dims {
	width: 12px;
	height: 12px;
}

.svg-general--arrow-link {
	background: url("sprite.svg") 26.20967741935484% 97.1900826446281% no-repeat;
}

.svg-general--arrow-link-dims {
	width: 8px;
	height: 14px;
}

.svg-general--arrow-right-slider {
	background: url("sprite.svg") 27.9126213592233% 97.02970297029702% no-repeat;
}

.svg-general--arrow-right-slider-dims {
	width: 12px;
	height: 12px;
}

.svg-general--arrow-simple {
	background: url("sprite.svg") 14.379084967320262% 98% no-repeat;
}

.svg-general--arrow-simple-dims {
	width: 24px;
	height: 24px;
}

.svg-general--carret {
	background: url("sprite.svg") 16.33986928104575% 98% no-repeat;
}

.svg-general--carret-dims {
	width: 24px;
	height: 24px;
}

.svg-general--check {
	background: url("sprite.svg") 18.30065359477124% 98% no-repeat;
}

.svg-general--check-dims {
	width: 24px;
	height: 24px;
}

.svg-general--close {
	background: url("sprite.svg") 20.26143790849673% 98% no-repeat;
}

.svg-general--close-dims {
	width: 24px;
	height: 24px;
}

.svg-social-media--facebook {
	background: url("sprite.svg") 3.9312039312039313% 98% no-repeat;
}

.svg-social-media--facebook-dims {
	width: 27px;
	height: 24px;
}

.svg-social-media--github {
	background: url("sprite.svg") 6.137479541734861% 98% no-repeat;
}

.svg-social-media--github-dims {
	width: 26px;
	height: 24px;
}

.svg-social-media--instagram {
	background: url("sprite.svg") 10.384300899427638% 98% no-repeat;
}

.svg-social-media--instagram-dims {
	width: 25px;
	height: 24px;
}

.svg-social-media--linkedin {
	background: url("sprite.svg") 22.22222222222222% 98% no-repeat;
}

.svg-social-media--linkedin-dims {
	width: 24px;
	height: 24px;
}

.svg-social-media--twitter {
	background: url("sprite.svg") 8.265139116202946% 98% no-repeat;
}

.svg-social-media--twitter-dims {
	width: 26px;
	height: 24px;
}

.svg-social-media--youtube {
	background: url("sprite.svg") 0 100% no-repeat;
}

.svg-social-media--youtube-dims {
	width: 48px;
	height: 48px;
}

.svg-sprite--sprite {
	background: url("sprite.svg") 0 0 no-repeat;
}

.svg-sprite--sprite-dims {
	width: 1248px;
	height: 1176px;
}

