 <div class="file js-file {{ class }}">
      {{> @label text="Label" name="file" class="file__label" }}
			<div class="file__wrapper">
				<input class='file__input' type="file" name="file" id="file" value="file" />
				<input class="file__fake-input" type="text" value="" />
				<label class="file__button" for="file">{{ buttonText }}</label>
			</div>
    </div>