		<nav class='navigation-mobile js-navigation'>
			<div class='navigation-mobile__inner'>
				
				<div class='navigation-mobile__bar'>
					<a href="#">
						<img class='navigation-mobile__logo' src='/media/graphics/logos/logo-craft-with-fractal-setup.svg' alt='Decom' class='navigation-desktop__logo' />
					</a>					
					{{> @hamburger }}
				</div>
			
				<div class="navigation-mobile__panel navigation-mobile__panel--closed" id="panel" type='button'>
					<div class='navigation-mobile__background-layer' id='background-layer'>
					</div>
						<div class='navigation-mobile__links links'>												
							{{#each links}}
								{{#if sublinks}}
									{{> @link-navigation text=text link=link class="links__item links__item--has-childs" }}
										<div class='navigation-mobile__dropdown dropdown'>
											{{#each sublinks }}
												{{> @link-navigation text=text link=link class="dropdown__item" }}
											{{/each}}
										</div>
									{{else }}
										{{> @link-navigation text=text link=link class="links__item" }}
								 {{/if}}
							{{/each}}
						</div>
      	</div>
			
			</div>
		</nav>

		<div class='navigation-mobile__placeholder'></div>