		<nav class='navigation-mobile js-navigation-mobile'>
			<div class='navigation-mobile__inner'>
				
				<div class='navigation-mobile__bar'>
					<a href="#">
						<img class='navigation-mobile__logo' src='/media/graphics/logos/logo-craft-with-fractal-setup.svg' alt='Decom' class='navigation-desktop__logo' />
					</a>					
					{{> @hamburger }}
				</div>
			
				<div class="navigation-mobile__panel" type='button'>
					<div class='navigation-mobile__background-layer'>
					</div>
						<div class='navigation-mobile__links '>												
							{{#each links}}
								{{#if sublinks}}
									<span class="navigation-mobile__link link navigation-mobile__link--has-sublinks">
										{{> @paragraph class="link__item" text=text}}
										<div class='navigation-mobile__dropdown dropdown'>
											{{#each sublinks }}
												{{> @link-navigation class="dropdown__item" text=text link=link  }}
											{{/each}}
										</div>
									</span>
								{{else }}
									<span class="navigation-mobile__link link">
										{{> @link-navigation class="link__item" text=text link=link }}
									</span>
								 {{/if}}
							{{/each}}
						</div>
      	</div>
			
			</div>
		</nav>

		<div class='navigation-mobile__placeholder'></div>