<div class="checkbox {{ class }}">
		<span class='checkbox__option'>	
			<input class='checkbox__input' name="{{ name }}" type='checkbox' value="{{ value }}" />
			{{> @label text=text name="{{ name }}" class="checkbox__label"}}
		</span>
</div>