.checkbox {
	
	&__option {
		display: inline-flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
		margin-right: 30px;
		margin-bottom: 15px;
	}

	&__input {
		width: 24px;
    height: 24px;
		min-width: 24px;
		min-height: 24px;
		background-color: $input-background-color;
    appearance: none;
    vertical-align: bottom;
    margin-right: 16px;
		margin-top: 4px;
    background-image: url('/media/icons/form-elements/checkbox-check.svg');
    background-size: 0px;
    background-position: center;
    transition: background-size 0.1s ease;
    background-repeat: no-repeat;
		border: $input-border;

		&:checked {
			background-size: 16px;
			background-color: $black;
		}

	}

	&__label {
		margin-top: 4px;
	}

}