{{> @navigation-desktop links=navigation.links }}
{{> @navigation-mobile links=navigation.links }}
<main>

{{> @image src="/media/images/clean-code.jpg" caption="Programmers love when they face clean code." }}
</main>
{{> @footer }}

