<div class='language-switcher'>
	<a class="language-switcher__button" href="#" target='_self'>EN</a>
	<span class="language-switcher__separator">/</span>
	<a class="language-switcher__button" href="#" target='_self'>DE
	</a>
</div>