<div class="carousel" data-flickity='{ "autoPlay": 5000, "wrapAround": true, "pageDots": false }'>
  	{{#each items}}
  	<div class="carousel__item item">
			<div class="item__quote">
				<p>{{ quote }}</p>
			</div>
			<div class="item__meta">
				<p>{{ author }}</p>
				<p>{{ role }}</p>
			</div>
		</div>
	{{/each}}
</div>


