.radio {
	
	&__option {
		display: inline-flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		margin-right: 30px;
		margin-bottom: 15px;
	}

	&__option-wrapper:last-child {
		margin-right: 0px;
	}

	&__input {
		width: 25px;
    height: 25px;
		background-color: $input-background-color;
    border-radius: 50px;
    appearance: none;
    vertical-align: bottom;
    margin-right: 16px;
    background-image: url('/media/icons/form-elements/radio-bullet.svg');
    background-size: 0px;
    background-position: center;
    transition: background-size 50ms ease;
    background-repeat: no-repeat;
		border: $input-border;

		&:checked {
			background-size: 11px;
		}

	}

	&__label {
		margin-top: 5px;
	}

}