<div class="radio {{ class }}">
		<span class='radio__option'>	
			<input class='radio__input' name="{{ name }}" type='radio' value="{{ value }}" id="{{ name }}" />
			{{> @label class="radio__label" name=name text=text for=name }}
		</span>
</div>