.text {

	&__input {		
		background-color: $input-background-color;
		border-radius: $input-border-radius;
		padding: $input-padding;
		outline: $input-outline;
		margin-bottom: $input-margin;
		width: $input-width;
		border: $input-border;
		
		&--error {
			border-color: $red !important;
		}
		
		&--hidden {
			@include hidden;
		}
		
	}

}