<div class="placeholder placeholder--blue"></div>
<div class="placeholder placeholder--red"></div>
<div class="placeholder placeholder--green"></div>

<div class="clipper section">
	<img class="clipper__image" src="/media/images/clean-code.jpg" alt="clean code" class="image__image" />
</div>

<div class="placeholder placeholder--red"></div>
<div class="placeholder placeholder--blue"></div>
<div class="placeholder placeholder--green"></div>