<section class="slider">
	<div class="slider__content">
			<img class="slider__item slider__item--active" src="https://via.placeholder.com/1080x720/878787/fff.png" />
			<img class="slider__item slider__item--next" src="https://via.placeholder.com/1080x720/878787/fff.png" />
			<img class="slider__item" src="https://via.placeholder.com/1080x720/878787/fff.png" />
			<img class="slider__item" src="https://via.placeholder.com/1080x720/878787/fff.png" />
			<img class="slider__item" src="https://via.placeholder.com/1080x720/878787/fff.png" />
			<img class="slider__item" src="https://via.placeholder.com/1080x720/878787/fff.png" />
			<img class="slider__item" src="https://via.placeholder.com/1080x720/878787/fff.png" />
			<img class="slider__item" src="https://via.placeholder.com/1080x720/878787/fff.png" />
			<img class="slider__item" src="https://via.placeholder.com/1080x720/878787/fff.png" />
			<img class="slider__item" src="https://via.placeholder.com/1080x720/878787/fff.png" />
			<img class="slider__item slider__item--previous" src="https://via.placeholder.com/1080x720/878787/fff.png" />
	</div>
	<div class="slider__arrow slider__arrow--left"></div>
	<div class="slider__arrow slider__arrow--right"></div>
</section>