<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link media="all" rel="stylesheet" href="{{ path '/css/main.min.css' }}">
		<title>Craft with Fractal Setup | Preview</title>
	</head>
	<body>
		{{{ yield }}}
		<script src="/js/main.min.js"></script>
	</body>
</html>